<ul class="list-group">
    <li class="list-group-item">
        SITE EN PHASE DE TEST
    </li>
    <li class="list-group-item">
        *55% votes des entités concernés pour validation de la catégorie POUR, CONTRE OU NULL.
    </li>
    <li class="list-group-item">
        Les projets à 55% POUR sont accepté 
    </li>
    <li class="list-group-item">
        Les projets à 55% CONTRE sont soumis à un temps d'attente de renouvellement de soumission d'autant de mois qu'il y'a de pourcentage d'écart avec le POUR
    </li>
    <li class="list-group-item">
        Les projets a 55% NULL peuvent se représenter si ils le désirent après 1 an si les pourcentages les plus hauts sont suivant sont les POUR, après 2 ans si ils le désirent ce sont les CONTRE.
    </li>
    <li class="list-group-item">
LES PROJETS DOIVENT ÊTRE SOUMIS DURANT LE MOIS DE DÉCEMBRE ILS SERONT ENSUITE VOTÉ JUSQU'AU 1er JUIN AVEC RESULTAT DES VOTES LE 30 JUIN AUX PLUS TARD. 
    </li>
    <li class="list-group-item">
        Cette charte de comptage,de validation et de repport de projet n'est pas immuable et peut être soumis au changement par une validation de projet tiers.
    </li>
    <li class="list-group-item">
        Le site ce résèrve le droit d'ouvrir des votes en cas de force majeur (qui peut être établis sous demande).
    </li>
</ul> 
 
