.sr-only{
    margin-right: 5%;
}

.icon-bar{
    margin-right: 5%;
}
ul{
    margin:5%;
}

.nav_button{
    cursor: pointer;
    width:auto;
    border-radius: 15%;
    padding-left:1% ;
    
}

.nav_button:hover{
    background-color: rgb(133, 133, 133);

}
.footer{
    background-image: linear-gradient(white, black);
    width:100%;
    height:10%;
    position:fixed;
    bottom:0px;
    right:0px;
    text-align: center;
}
i{
    color:lightgrey;
}
.blancko{
    color:lightgrey
}
.center_div{
    margin-bottom: 10%;
}


.spanR{
    color:black;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
.spanI{
    color:yellow;
}
.spanC{
    color:red;
}
@media screen and (max-width: 760px) {
    #nav{
        margin-right:50%;
        margin-left:40%;
    }
}

@media screen and (min-width: 760px) {
    #nav {
        display: block;
        clear: both;
        width:900px;
     }
    #nav .nav_button {float:left;width:60px;display:inline; margin:3%}
   
}